<div class='container'>
  <h1>Build a Robot</h1>

  <form action='/robots' method='post'>
    <!--
    name
    city
    state
    avatar
    birthdate
    date hired
    department
    -->
    <label for="robotName">Name</label>
    <input type='text' name='robot[name]' id='robotName' /><br/>

    <label for="robotCity">City</label>
    <input type='text' name='robot[city]' id='robotCity' /><br/>

    <label for="robotState">State</label>
    <input type='text' name='robot[state]' id='robotState' /><br/>
    <!-- avatar --><p>Avatar Input</p>
    <label for="robotBirthdate">Birthdate</label>
    <input type='text' name='robot[birthdate]' id='robotBirthdate' /><br/>

    <label for="robotDateHired">Date Hired</label>
    <input type='text' name='robot[date_hired]' id='robotDateHired' /><br/>

    <label for="robotDepartement">Department</label>
    <input type='text' name='robot[department]' id='robotDepartment' /><br/>
    <br/>
    <input type='submit' value='Submit' />
  </form>
</div>
